extends base
from layout/macro/post import render as post_template
from layout/macro/sidebar import render as sidebar_template

block title
    title= site.title

block page_class
    | page-home

block content
    section#posts.posts-expand
        for post in posts
            +post_template(post, is_index=True)
    include layout/partials/pagination

block sidebar
    +sidebar_template(is_post=False)

block script_extra
    include layout/scripts/third-party/comments
