if not site.configs.duoshuo and site.configs.disqus
    script#dsq-count-scr(src='//%s.disqus.com/count.js'%site.configs.disqus)
    - var disqus_config_begin = 'var disqus_config = function() {'
    - var disqus_config_url = 'this.page.url = \'' + request.host + post.url + '\''
    - var disqus_config_identifier = 'this.page.identifier = \'' + post.url_path + '\''
    - var disqus_config_end = '}'
    - var function_begin = '(function() {'
    - var function_1 = 'var d = document, s = d.createElement(\'script\')'
    - var function_2 = 's.src = \'//' + site.configs.disqus + '.disqus.com/embed.js\''
    - var function_3 = 's.setAttribute(\'data-timestamp\', +new Date())'
    - var function_4 = '(d.head || d.body).appendChild(s)'
    - var function_end = '})()'
    script(type='text/javascript')= disqus_config_begin + disqus_config_url + ';' + disqus_config_identifier + ';' + disqus_config_end + ';' + function_begin + function_1 + ';' + function_2 + ';' + function_3 + ';' + function_4 + ';' + function_end + ';'
