if not site.configs.diqus and site.configs.duoshuo
    - var duoshuo_query = 'var duoshuoQuery = { short_name: "' + site.configs.duoshuo + '" }'
    - var function_begin = '(function() {'
    - var function_1 = 'var ds = document.createElement(\'script\')'
    - var function_2 = 'ds.type = \'text/javascript\''
    - var function_3 = 'ds.async = true'
    - var function_4 = 'ds.src = (document.location.protocol == \'https:\' ? \'https:\' : \'http:\') + \'//static.duoshuo.com/embed.js\''
    - var function_5 = 'ds.charset = \'UTF-8\''
    - var function_6 = '(document.getElementsByTagName(\'head\')[0] || document.getElementsByTagName(\'body\')[0]).appendChild(ds)'
    - var function_end = '})()'
    script(type='text/javascript')= duoshuo_query + ';' + function_begin + function_1 + ';' + function_2 + ';' + function_3 + ';' + function_4 + ';' + function_5 + ';' + function_6 + ';' + function_end + ';'
