.copyright
	span(itemprop='copyrightYear')= '&copy;2016'
	span.with-love
		i.fa.fa-heart
	span.author(itemprop='copyrightHolder')= site.configs.author
.powered-by
	a.theme-link(href='https://www.farbox.com')= 'Farbox'
.theme-info
	a.theme-link(href='https://github.com/iissnan/hexo-theme-next')= 'NexT'
